node_modules
client/node_modules
server/node_modules
client/dist
server/dist
dist
.git
.gitignore
.env
.env.*
!.env.example
*.log
logs.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
scratch
coverage
.vscode
.idea
.ds_store
